
/* src/App.css */



.App {
  text-align: center;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  margin: 0;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar-item a:hover {
  border-bottom: 2px solid white;
}











